- ProjectResultPresenter = require "../../presenters/project-result"

dialog.pop-over.results-list.analytics-projects-pop(class=@hiddenUnlessAnalyticsProjectsPopVisible click=@stopPropagation)

  section.pop-over-info
    .pop-title Select a Project
  section.pop-over-info
    input.pop-over-input.search-input.pop-over-search(input=@filter keyup=@spacekeyDoesntClosePop placeholder="Filter projects")

  section.pop-over-actions.last-section
    ul.results
      li.result
        .result-container
          .result-name All Projects
      
      li.result
        .result-container
          .result-name P1
      li.result
        .result-container
          .result-name P2
