dialog.pop-over.results-list.analytics-time-pop(class=@hiddenUnlessAnalyticsTimePopVisible click=@stopPropagation)

  - # section.pop-over-info
  - #   input#team-user-search.pop-over-input.search-input.pop-over-search(input=@search keyup=@spacekeyDoesntClosePop placeholder="Search for a user or email")

  section.pop-over-info
    .pop-title Time Frames

  section.pop-over-actions.last-section
    ul.results
      li.result(click=@selectWeeksFrame)
        .result-container
          .result-name.result-info Last 2 Weeks
      li.result(click=@selectMonthFrame)
        .result-container
          .result-name.result-info Last Month
      li.result(click=@selectHoursFrame)
        .result-container
          .result-name.result-info Last 24 Hours
